<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pesanan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Daftar Pesanan</h1>

    <ul class="list-group">
        <% pesan.forEach(p => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <strong><%= p.nama %><strong><%= p.namapaket %></strong> - Jumlah: <%= p.jumlah %> - notelp: <%= p.notelp %>
                </span>
            </li>
        <% }); %>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>
